body{ width: 100%; 
      height: 100%; 
      margin: 0; 
	} 
a{ text-decoration: none;
   background-color: transparent; 
   color:#FEFEFE; }

p{ color:black;
  font-family: "Georgia",  serif;
}

h2{color: white;
   font-family: "Georgia",  serif;
}

#banner_image{padding-top: 75px;
padding-bottom: 50px;
text-align: center;
color: #f8f8f8;
background: url(img/Series5.jpg) no-repeat center center;
background-size: cover;
}

#banner_content{position: relative;
 padding-top: 6%;
 padding-bottom: 6%;
 margin-top: 12%;
 margin-bottom: 12%;
 background-color: rgba(0, 0, 0, 0.7);
 max-width: 660px;}

footer{padding: 0px 0px 0px 0px;
 background-color: black;
 color:white;
 bottom: 0;
 width: 100%;}

.panel{position: center;
 padding-bottom: 6%;
 margin-top: 12%;
 margin-bottom: 12%;
 margin-left:15%;
 max-width: 1200px;}

.panel-footer{max-width: 1195px;}

.column_style{border:1px solid #000;}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.carousel-inner img {
    width: 50%;
    height: 20%;
  }

body.color {
background-color: black; 
}